In [2]:
import pandas as pd

In [12]:
codigo ="1Gp8VqN8qhMD54c_v4rIuIlZ27iLSpcbCoo3hrQx6cWk"
nombre_hoja ="CO2_emision"
url =f"https://docs.google.com/spreadsheets/d/{codigo}/gviz/tq?tqx=out:csv&sheet={nombre_hoja}"

In [17]:
emisiones_carbono = pd.read_csv(url,nrows=10,usecols=[0,2,3,4,5])
print(emisiones_carbono.isna().sum())
print("="*40)
emisiones_carbono = emisiones_carbono.fillna(0)
emisiones_carbono

Country Name      0
Region            0
Indicator Name    0
1990              2
1991              2
dtype: int64
========================================

,Country Name,Region,Indicator Name,1990,1991
0,Aruba,Latin America & Caribbean,CO2 emissions (metric tons per capita),0,0
1,Afghanistan,South Asia,CO2 emissions (metric tons per capita),"191,745,115","167,681,579"
2,Angola,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"553,661,955","544,538,649"
3,Albania,Europe & Central Asia,CO2 emissions (metric tons per capita),"1,819,541,634","124,281,022"
4,Andorra,Europe & Central Asia,CO2 emissions (metric tons per capita),"7,521,831,658","723,537,924"
5,United Arab Emirates,Middle East & North Africa,CO2 emissions (metric tons per capita),"3,019,518,857","3,177,849,624"
6,Argentina,Latin America & Caribbean,CO2 emissions (metric tons per capita),"3,075,541,328","3,202,031,307"
7,Armenia,Europe & Central Asia,CO2 emissions (metric tons per capita),"5,610,254,358","5,902,576,393"
8,American Samoa,East Asia & Pacific,CO2 emissions (metric tons per capita),0,0
9,Antigua and Barbuda,Latin America & Caribbean,CO2 emissions (metric tons per capita),"3,358,226,856","3,472,057,826"

In [5]:
data_dioxido = emisiones_carbono.to_csv("exportacion.xls",index=False)
airbag = pd.read_csv("exportacion.xls")
airbag

,Country Name,Region,Indicator Name,1990,1991
0,Aruba,Latin America & Caribbean,CO2 emissions (metric tons per capita),0,0
1,Afghanistan,South Asia,CO2 emissions (metric tons per capita),"191,745,115","167,681,579"
2,Angola,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"553,661,955","544,538,649"
3,Albania,Europe & Central Asia,CO2 emissions (metric tons per capita),"1,819,541,634","124,281,022"
4,Andorra,Europe & Central Asia,CO2 emissions (metric tons per capita),"7,521,831,658","723,537,924"
5,United Arab Emirates,Middle East & North Africa,CO2 emissions (metric tons per capita),"3,019,518,857","3,177,849,624"
6,Argentina,Latin America & Caribbean,CO2 emissions (metric tons per capita),"3,075,541,328","3,202,031,307"
7,Armenia,Europe & Central Asia,CO2 emissions (metric tons per capita),"5,610,254,358","5,902,576,393"
8,American Samoa,East Asia & Pacific,CO2 emissions (metric tons per capita),0,0
9,Antigua and Barbuda,Latin America & Caribbean,CO2 emissions (metric tons per capita),"3,358,226,856","3,472,057,826"