#### 1. Asegúrese de que el archivo CSV esté separado por una coma o punto y coma.
#### 2. La codificación del archivo es ISO-8859-1.
#### 3. Las primeras tres líneas del archivo se pueden ignorar, ya que el encabezado sólo comienza en la cuarta línea.
#### 4. Las últimas 9 líneas también se pueden ignorar, ya que son sólo información sobre dónde se tomaron los datos.
#### 5. Para eliminar las últimas líneas es necesario agregar el parámetro engine='python'.

In [ ]:
import pandas as pd

tablaSalud = pd.read_csv("datos_sus.csv",sep=";",encoding="ISO-8859-1",skiprows=3,skipfooter=9,engine="python")
tablaSalud

In [11]:
tablaSalud.to_csv("nodal.csv", index=False )
pd.read_csv("nodal.csv",nrows=5,usecols=[0,1,2,3,4,5] )

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai
0,Rondônia,"1388528,39","2931283,42","1541682,52","1525314,96","1645953,84"
1,Acre,"902416,00","1497206,26","1794028,48","1730469,42","1819443,92"
2,Amazonas,"4735529,42","7118990,57","8196635,49","8259378,42","7831399,90"
3,Roraima,"657889,53","777939,31","718688,03","839994,39","862347,96"
4,Pará,"18864744,11","19553758,20","21937342,70","20842829,69","23249952,88"

In [12]:
import chardet
with open("datos_sus.csv","rb") as file:
    print(chardet.detect(file.read()))

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}