In [2]:
import pandas as pd
nuevo =[
  {"nombre": "Carlos", "edad": 32, "departamento": "Ventas"},
  {"nombre": "Lucía", "edad": 28, "departamento": "Marketing"},
  {"nombre": "Miguel", "edad": 45, "departamento": "Finanzas"}
]

In [5]:
empleados =pd.DataFrame(nuevo)

In [9]:
empleado_filtrado = empleados[empleados["edad"]>30]
empleado_filtrado.to_json("filtrado.json")
nuevo = pd.read_json("filtrado.json")
nuevo

   nombre  edad departamento
0  Carlos    32       Ventas
2  Miguel    45     Finanzas

In [41]:
proyecto_pacientes ={
  "Investigación": "Salud 2025",
  "Año": 2025,
  "Pacientes": [
    {"Nombre": "Ana", "Edad": 33, "Diagnóstico": "Diabetes"},
    {"Nombre": "Luis", "Edad": 40, "Diagnóstico": "Hipertensión"},
    {"Nombre": "María", "Edad": 29, "Diagnóstico": "Asma"}
  ]
}

In [42]:
lee = pd.DataFrame(proyecto_pacientes)
lee

  Investigación   Año                                          Pacientes
0    Salud 2025  2025  {'Nombre': 'Ana', 'Edad': 33, 'Diagnóstico': '...
1    Salud 2025  2025  {'Nombre': 'Luis', 'Edad': 40, 'Diagnóstico': ...
2    Salud 2025  2025  {'Nombre': 'María', 'Edad': 29, 'Diagnóstico':...

In [47]:
lee.to_json("proyectos_pacientes.json")
pd.read_json("proyectos_pacientes.json")

  Investigación   Año                                          Pacientes
0    Salud 2025  2025  {'Nombre': 'Ana', 'Edad': 33, 'Diagnóstico': '...
1    Salud 2025  2025  {'Nombre': 'Luis', 'Edad': 40, 'Diagnóstico': ...
2    Salud 2025  2025  {'Nombre': 'María', 'Edad': 29, 'Diagnóstico':...

In [52]:
import pandas as pd
import json

# Simulamos la lectura del JSON con la estructura del Ejercicio 2
datos = {
    "Investigación": "Salud 2025",
    "Año": 2025,
    "Pacientes": [
        {"Nombre": "Ana", "Edad": 33, "Diagnóstico": "Diabetes"},
        {"Nombre": "Luis", "Edad": 40, "Diagnóstico": "Hipertensión"},
        {"Nombre": "María", "Edad": 29, "Diagnóstico": "Asma"}
    ]
}

# Normalizamos
df = pd.json_normalize(datos, record_path='Pacientes', meta=['Investigación', 'Año'])

# Mostramos
print(df)

# Guardamos a JSON
df.to_json("pacientes_flat.json", orient='records', indent=2)

  Nombre  Edad   Diagnóstico Investigación   Año
0    Ana    33      Diabetes    Salud 2025  2025
1   Luis    40  Hipertensión    Salud 2025  2025
2  María    29          Asma    Salud 2025  2025