In [6]:
import pandas as pd

In [18]:
excel = pd.read_excel("spotify_streams_by_artist_2023.xlsx" , index_col="Artista")
excel

              Spotify streams (millones)
Artista
Taylor Swift                     29100.0
Bad Bunny                        16370.0
The Weeknd                       14140.0
Drake                            14030.0
Peso Pluma                       10540.0
Feid                                 NaN

In [19]:
excel.loc["Drake"]

Spotify streams (millones)    14030.0
Name: Drake, dtype: float64

In [23]:
excel.iloc[-1]

Spotify streams (millones)   NaN
Name: Feid, dtype: float64

In [9]:
df_manual = pd.DataFrame(
    columns= ["Control 1","Control 2","Control 3"],
    index=["Elmer" ,"Manuel","Erika"],
    data=[[1,2,3],[1,2,3],[5,6,7]])
df_manual

        Control 1  Control 2  Control 3
Elmer           1          2          3
Manuel          1          2          3
Erika           5          6          7

In [17]:
df_militares = pd.DataFrame(
    columns=["NOMBRE","CIP","DNI"],
    index=[1,2,3],
    data=[["ELMER",123,123546],["ELMER",123,123546],["ELMER",123,123546]]
)
df_militares

# Crear DataFrame con datos variados
"""df_militares = pd.DataFrame({
    "NOMBRE": ["ELMER", "JUAN", "MARÍA"],
    "CIP": [123, 456, 789],
    "DNI": [12354678, 23456789, 34567890]
}, index=[1, 2, 3])"""

'df_militares = pd.DataFrame({\n    "NOMBRE": ["ELMER", "JUAN", "MARÍA"],\n    "CIP": [123, 456, 789],\n    "DNI": [12354678, 23456789, 34567890]\n}, index=[1, 2, 3])'

In [16]:
import numpy as np
# Cantidad de filas
n = 10

# Nombres posibles
nombres_posibles = ["ELMER", "JUAN", "MARÍA", "CARLOS", "LUISA", "ANA", "MARIO", "ROSA", "LUIS", "JULIA"]

df_milico = pd.DataFrame({
    "Nombre":np.random.choice(nombres_posibles,n),
    "CIP":np.random.randint(100,999,size=n),
    "DNI":np.random.randint(10000000,99999999,size=n)
    },index= np.arange(1,n+1))
df_milico

    Nombre  CIP       DNI
1    JULIA  269  11352525
2     ROSA  843  12929907
3     JUAN  678  70211140
4    LUISA  996  78298642
5     ROSA  339  41610647
6   CARLOS  550  67656129
7    MARÍA  891  66511224
8    MARIO  838  17003385
9     JUAN  551  72532410
10   JULIA  411  49893548